<%- include("./partials/header") %>

<link rel="stylesheet" href="stylesheets/about.css">

<section class="hero">
	<div class="background-image" style='background-image: url("https://images.unsplash.com/photo-1528238646472-f2366160b6c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80")'>		
	</div>
	<div class="about-head">
	<h1>Ocenenia spoloÄnosti</h1>
</div>
<div class="col-lg-11 col-md-4 col-sm-6 mb-4">
	<div class="value-content">
		<div>
			<p>2019</p>
		</div>
		<p class="value-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
	</div>	
</div>
</section>

<%- include("./partials/footer") %>