<%- include("./partials/header") %>

	<section class="hero">
		<div class="background-image" style="background: url(https://s3.amazonaws.com/cms.ipressroom.com/173/files/20192/5c9033772cfac23fe703ebdb_Treating+crops/Treating+crops_e87b80bb-a6b7-44ed-80f3-3dd61e351b96-prv.jpg); background-size: cover;">		
		</div>
		<div class="hero-content-area">
			<h1>Agromacaj</h1>
			<h3>Loerem impsum post folot sout parr su tie st</h3>
		</div>
	</section>
	
	<section class="destinations">
    <h3 class="title">Daky text o spolocnosti:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id venenatis a condimentum vitae sapien pellentesque. Eros donec ac odio tempor orci dapibus.</p>
    <hr>

    <ul class="grid">
      <li class="small" style="background-image: url(https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80);"></li>
      <li class="large" style="background-image: url(https://images.unsplash.com/photo-1563201515-adbe35c669c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);"></li>
      <li class="large" style="background-image: url(https://images.unsplash.com/photo-1464684979825-ad6f2811cef2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);"></li>
      <li class="small" style="background-image: url(https://images.unsplash.com/photo-1506732176389-db44ff3b5c91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1093&q=80);"></li>
    </ul>
  </section>

  <section class="packages">
    <h3 class="title">Plodiny</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit, sed.</p>
    <hr>

    <ul class="grid">
      <li id="potatos">
        <img src="https://www.zeleninarska.sk/wp-content/uploads/2019/07/produkcia-zemiaky.png" alt="Zemiaky">
        <h4>Zemiaky</h4>
        <p>Looking for the complete experience? Take a tour with one of our experts. They'll show you secrets that you're likely to miss otherwise.</p>
      </li>
      <li id="onions">
        <img src="https://www.zeleninarska.sk/wp-content/uploads/2019/07/produkcia-cibula.png" alt="Cibula">
        <h4>Cibula</h4>
        <p>Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on one of our mountain buses.</p>
      </li>
      <li id="carrots">
        <img src="https://www.zeleninarska.sk/wp-content/uploads/2019/07/produkcia-mrkva.png" alt="Mrkva">
        <h4>Mrkva</h4>
        <p>If bicycles are more your speed, consider taking a tour through one of our mountain bike paths. We'll provide the bikes, and lunch too!</p>
      </li>
      <li id="garlics">
        <img src="https://www.zeleninarska.sk/wp-content/uploads/2019/07/produkcia-cesnak.png" alt="Cesnak">
        <h4>Cesnak</h4>
        <p>Got a competitive spirit? Sign up for one of our mountain marathons! Try to reach the summit before anyone else.</p>
      </li>
    </ul>
  </section>

<section class="testimonials p-0">
	<div class="test">
		<h3 class="title">Recenzie od spokojnych klientov:</h3>
		<hr>
		<p class="quote">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			minim veniam, quis nostrud exercitation in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		</p>
		<p class="author">- Adam Vitek</p>
		<p class="quote">Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
		<p class="author">- Jana Benovska</p>
		<p class="quote">
			Ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
		</p>
		<p class="author">- Tim Garcia</p>
	</div>
</section>

  <section class="contact">
    <h3 class="title">Viac o nas</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At urna condimentum mattis pellentesque id nibh tortor id aliquet. Nunc aliquet bibendum enim facilisis gravida neque convallis. Et pharetra pharetra massa.</p>
  </section>

<%- include("./partials/footer") %>